services:
  pipeline-worker-chunk-text:
    build:
      context: .
      dockerfile: ./domains/worker_chunk_text/Dockerfile
    environment:
      BROKER_URL: ${BROKER_URL:?BROKER_URL is required}
      S3_ENDPOINT: ${S3_ENDPOINT:?S3_ENDPOINT is required}
      S3_ACCESS_KEY: ${S3_ACCESS_KEY:?S3_ACCESS_KEY is required}
      S3_SECRET_KEY: ${S3_SECRET_KEY:?S3_SECRET_KEY is required}

networks:
  default:
    external: true
    name: rag-local
