services:
  pipeline-worker-embed-chunks:
    build:
      context: .
      dockerfile: ./domains/worker_embed_chunks/Dockerfile
    environment:
      BROKER_URL: ${BROKER_URL:?BROKER_URL is required}
      S3_ENDPOINT: ${S3_ENDPOINT:?S3_ENDPOINT is required}
      S3_ACCESS_KEY: ${S3_ACCESS_KEY:?S3_ACCESS_KEY is required}
      S3_SECRET_KEY: ${S3_SECRET_KEY:?S3_SECRET_KEY is required}
      MARQUEZ_LINEAGE_URL: ${MARQUEZ_LINEAGE_URL:?MARQUEZ_LINEAGE_URL is required}
      EMBEDDING_DIM: ${EMBEDDING_DIM:-32}

networks:
  default:
    external: true
    name: ${STACK_NETWORK:?STACK_NETWORK is required}
